<nav class="navbar">
    <div class="container">
        <% if (isLoggedIn) { %>
            <span>Chào, <%= username %>!</span>
            <a href="/login">Đăng xuất</a>
        <% } else { %>
            <span>Chưa đăng nhập</span>
            <a href="/login">Đăng nhập</a>
            <span>Đăng ký</span>
            <a href="/register">Đăng Ký</a>
        <% } %>
    </div>
</nav>